[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1

[init]
    defaultBranch = main

[push]
    default = upstream
    autoSetupRemote = true

[fecth]
	prune = true

[diff]
    algorithm = histogram

[merge]
	conflictstyle = diff3
	tool = nvim
	ff = only

[commit]
    template = ~/.gitmessage
    verbose = true

[user]
	name = ImadDabbura
	email = imad.dabbura@hotmail.com

[color]
	ui = true
	diff = auto
	interactive = auto
	branch = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = 11
	frag = magenta bold
	old = red bold
	new = green bold
	func = 146 bold
	commit = yellow bold
	whitespace = red reverse

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
	autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[alias]
	a = add
	aa = add --all
	ap = add --patch
	unstage = reset
	cm = commit -v
	ca = commit --amend --verbose
	car = commit --amend --no-edit
	uncommit = reset --soft HEAD^1
	s = status --short --branch
	codegrep = log -G
	loggrep = log -E -i --grep
	sl = log --oneline --decorate -20
	sla = log --oneline --decorate --graph --all -20
	slp = log --oneline --decorate
	slap = log --oneline --decorate --graph --all
	mup = !git checkout main && git fetch origin && echo && git sl main..origin/main && echo && git pull --quiet && git checkout -
  	upstream = rev-parse --abbrev-ref --symbolic-full-name @{u}
  	riu = !git rebase -i $(git upstream)
  	rim = !git rebase -i $(git merge-base main HEAD)
  	rmup = !git mup && git rebase main
  	ureset = !git reset --hard $(git upstream)
	pl = pull
	fall = fetch --all
	rbc = rebase --continue
	p = push
	b = branch
	bd = branch -d 
	co = checkout
	cob = checkout -b
	d = diff
	ls = ls-files
	graph = log --all --graph --pretty=format:'%C(auto)%h%C(auto)%d %s %C(dim white)(%aN, %ar)'
    graph2 = log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m"

[interactive]
	diffFilter = diff-so-fancy --patch

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
